<div>
    <div>
        <strong>{{$ctrl.post.title}}</strong>
        <a ng-href="/posts/{{$ctrl.post.id}}">
            Read more
        </a>
    </div>
    in
    <a ng-href="#!/posts?category={{$ctrl.post.category.name}}">
        {{$ctrl.post.category.name}}
    </a>
    <div>
        <span>Tags:</span>
        <ul class="list horizontal tags">
            <li class="list-item tag" ng-repeat="tag in $ctrl.post.tags">
                <a ng-href="/posts?tag={{tag.name}}">{{tag.name}}</a>
            </li>
        </ul>
    </div>
</div>