<form>
    <label>
        Title:
        <input type="text" ng-model="post.title" />
    </label>
    <label>
        Content:
        <textarea ng-model="post.content"></textarea>
    </label>

    <label>
        Category:
        <select name="category" ng-model="post.category">
            <option ng-repeat="category in categories" ng-model="category.name">{{category.name}}</option>
        </select>
    </label>

    <label>Tags:
        <label ng-repeat="tag in tags">
            {{tag.name}}
            <input type="checkbox" ng-change="updateTag(tag)" ng-model="tag.isChecked" />
        </label>
    </label>

    <button ng-click="save()">Save</button>
</form>