﻿/** Resets **/

html, body {
    margin: 0;
    padding: 0;
}

/** Widgets **/

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list.horizontal {
    font-size: 0;
}

.list.horizontal .list-item {
    display: inline-block;
    font-size: 1rem;
}

.list .list-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list .list {
    margin-left: 15px;
}

.tag:after {
    white-space: pre;
    content:", "
}
/** Header **/

.main-nav {
    width: 100%;
    background-color: #bd2438;
    text-align: center;
}

.main-nav .list-item a {
    display: inline-block;
    padding: 5px 15px;
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

.main-nav .list-item a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

